/* ===================================
    General
====================================== */

body {font-family: 'Poppins', sans-serif; font-size: 16px;color: #696969;font-weight:300;line-height:30px;letter-spacing: 0.2px;width: 100%; overflow-x: hidden}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1.2; font-weight: 500;font-family: 'Poppins', sans-serif; color: #111111;}
a, *::before, *::after, img, span, input, button, .navbar, .fixedmenu, .tp-bullet, .owl-dot, .owl-prev, .owl-next {transition: ease-in-out 0.2s;-webkit-transition: ease-in-out 0.2s;-moz-transition: ease-in-out 0.2s;-ms-transition: ease-in-out 0.2s;-o-transition: ease-in-out 0.2s;}
section,.section-padding {position: relative;padding: 5.5rem 0;}
.section-top-margin{margin-top: 7.5rem;}
a {color:inherit;text-decoration: none;}
.rev_slider_wrapper{width: 100% !important;}
.btn.focus, .btn:focus{box-shadow: none;}
p:last-child{margin-bottom: 0 !important;}
p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #4D4D4D;
}
img {
    height: auto;
}
.fa, .far, .fas{display: inline;}
a:active, a:hover{color: #F6B973;}
blockquote {border-left: 2px solid;padding: 10px 15px 10px 35px;margin: 25px 0;font-size: 18px;line-height: 28px;margin-top: 32px;margin-bottom: 32px;}
blockquote > cite {font-weight: 400;font-size: 14px;display: block;}
.hidden{display: none;}

/* transition none */
.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}

/* opacity */
.opacity-full{opacity: 1;}
.opacity-3{opacity: .3;}
.opacity-4{opacity: .4;}
.opacity-5{opacity: .5;}
.opacity-6{opacity: .6;}
.opacity-7{opacity: .7;}
.opacity-7{opacity: .7;}
.opacity-8{opacity: .8;}
.opacity-9{opacity: .9;}

/*font-weight*/
.font-weight-100{font-weight: 100;}
.font-weight-300{font-weight: 300;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}

/* button */
.btn {-webkit-appearance: initial; overflow: hidden;position: sticky; z-index: 2; display:inline-block; font-size: 17px; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform:capitalize; width: auto;font-family: 'Poppins', sans-serif; font-weight: 500; -webkit-transition: all .5s ease;-o-transition: all .5s ease !important;transition: all .5s ease !important;}
/* button size */
.btn.btn-small {font-size:12px; padding: 4px 1.8em;}
.btn.btn-medium {font-size:12px; padding: 6px 1.8em;}
.btn.btn-large {font-size:14px; padding: 9px 34px; line-height: 1.8em;}
.btn.btn-rounded {border-radius: 50px;}


/* button background */
.btn.btn-white {background:#ffffff; border-color: #ffffff; color: #585858}
.btn.btn-white:hover, .btn.btn-white:focus {background: transparent !important; border-color: #ffffff; color:  #ffffff !important}
.btn.btn-transparent-white {background:transparent; border-color: #ffffff; color:  #ffffff}
.btn.btn-transparent-white:hover, .btn.btn-transparent-white:focus {background: #ffffff !important; color: #585858 !important}
.btn.btn-transparent-black {background:transparent; border-color: #2b2b2b; color: #2b2b2b}
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {background: #2b2b2b !important; color: #ffffff !important}
.btn.btn-black {background: #2b2b2b; border-color: #2b2b2b; color: #ffffff}
.btn.btn-black:hover, .btn.btn-black:focus {background: transparent !important; border-color: #2b2b2b; color: #2b2b2b !important}
.btn.btn-blue {background: #00bcd4; border-color: #00bcd4; color: #ffffff}
.btn.btn-blue:hover, .btn.btn-blue:focus {background: transparent !important; border-color: #00bcd4; color: #00bcd4 !important}
.btn.btn-gradient{color: #ffffff; flex: 1 1 auto;transition: 0.5s;background-size: 200% auto;background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);}
.btn.btn-gradient:hover{background-position: right center;}
.btn.btn-hvr-white:hover, .btn.btn-hvr-white:focus {background: #ffffff !important; border-color: #ffffff; color: #585858 !important}

/* overlay */
.bg-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}

/* background color */
.bg-black{background: #000000;}
.bg-dark {background-color: #1d1d21 !important;}
.bg-blue {background-color: #03a9f5;}
.bg-pink {background-color: #f033b5;}
.bg-purple {background-color: #9556f5;}

.gradient-bg1{
    background: #3264f5;
    background: -moz-linear-gradient(left, #3264f5 2%, #7004bc 82%);
    background: -webkit-linear-gradient(left, #3264f5 2%,#7004bc 82%);
    background: linear-gradient(to right, #3264f5 2%,#7004bc 82%);
}

.gradient-bg2{
    background: #237afe;
    background: -moz-linear-gradient(left, #237afe 2%, #03a9f5 82%);
    background: -webkit-linear-gradient(left, #237afe 2%, #03a9f5 82%);
    background: linear-gradient(to right, #237afe 2%, #03a9f5 82%);
}

/* text-color */
.main-color{color: #f033b5;}
.alt-color{color: #03a9f5;}

/*Max Width*/
.mx-570{
    max-width: 570px;
    display: inline-block;
}

/* ===================================
   Social Icon Hover
====================================== */

/*icon bg bover */
.facebook-bg-hvr:hover{background:#4267B2 !important;color: #fff !important;border: 1px solid #4267B2 !important;}
.twitter-bg-hvr:hover{background:#1DA1F2 !important;color: #fff !important;border: 1px solid #1DA1F2 !important;}
.instagram-bg-hvr:hover{background:#C32AA3 !important;color: #fff !important;border: 1px solid #C32AA3 !important;}
.linkedin-bg-hvr:hover{background:#0077B5 !important;color: #fff !important;border: 1px solid #0077B5 !important;}
.pinterest-bg-hvr:hover{background:#BD081C !important;color: #fff !important;border: 1px solid #BD081C !important;}
.google-bg-hvr:hover{background:#DB4437 !important;color: #fff !important;border: 1px solid #DB4437 !important;}

/*icon text bover */
.facebook-text-hvr:hover{color:#4267B2 !important;}
.twitter-text-hvr:hover{color:#1DA1F2 !important;}
.instagram-text-hvr:hover{color:#C32AA3 !important;}
.linkedin-text-hvr:hover{color:#0077B5 !important;}
.pinterest-text-hvr:hover{color:#BD081C !important;}
.google-text-hvr:hover{color:#DB4437 !important;}

/* ===================================
   Social Icon Color
====================================== */

.social-icon-clr a i.fa-facebook {color: #3B5998;}
.social-icon-clr a i.fa-twitter {color: #55ACEE;}
.social-icon-clr a i.fa-google-plus {color: #DD4B39;}
.social-icon-clr a i.fa-linkedin-in {color: #0976B4;}
.social-icon-clr a i.fa-instagram {color: #c13584;}
.social-icon-clr a i.fa-youtube {color: #dd4b39;}
.social-icon-clr a i.fa-pinterest-p {color: #B7242A;}
.social-icon-clr a i.fa-instagram {color: #e8715c;}
.social-icon-clr a i.fa-vimeo {color: #1ab7ea;}
.social-icon-clr a i.fa-vk {color: #4c75a3;}
.social-icon-clr a i.fa-youtube {color: #cd201f;}
.social-icon-clr a i.fa-pinterest {color: #bd081c;}
.social-icon-clr a i.fa-tumblr {color: #34465d;}
.social-icon-clr a i.fa-behance {color: #131418;}
.social-icon-clr a i.fa-dribbble {color: #ea4c89;}
.social-icon-clr a i.fa-google-plus {color: #dd4b39;}
.social-icon-clr a i.fa-xing {color: #026466;}
.social-icon-clr a i.fa-yelp {color: #af0606;}
.social-icon-clr a i.fa-vine {color: #00b489;}

/* ===================================
   Social Icon Hover
====================================== */

.social-icon-clr-hvr a i:hover.fa-facebook {color: #3B5998;}
.social-icon-clr-hvr a i:hover.fa-twitter {color: #55ACEE;}
.social-icon-clr-hvr a i:hover.fa-google-plus {color: #DD4B39;}
.social-icon-clr-hvr a i:hover.fa-linkedin-in {color: #0976B4;}
.social-icon-clr-hvr a i:hover.fa-instagram {color: #c13584;}
.social-icon-clr-hvr a i:hover.fa-youtube {color: #dd4b39;}
.social-icon-clr-hvr a i:hover.fa-pinterest-p {color: #B7242A;}
.social-icon-clr-hvr a i:hover.fa-instagram {color: #e8715c;}
.social-icon-clr-hvr a i:hover.fa-vimeo {color: #1ab7ea;}
.social-icon-clr-hvr a i:hover.fa-vk {color: #4c75a3;}
.social-icon-clr-hvr a i:hover.fa-youtube {color: #cd201f;}
.social-icon-clr-hvr a i:hover.fa-pinterest {color: #bd081c;}
.social-icon-clr-hvr a i:hover.fa-tumblr {color: #34465d;}
.social-icon-clr-hvr a i:hover.fa-behance {color: #131418;}
.social-icon-clr-hvr a i:hover.fa-dribbble {color: #ea4c89;}
.social-icon-clr-hvr a i:hover.fa-google-plus {color: #dd4b39;}
.social-icon-clr-hvr a i:hover.fa-xing {color: #026466;}
.social-icon-clr-hvr a i:hover.fa-yelp {color: #af0606;}
.social-icon-clr-hvr a i:hover.fa-vine {color: #00b489;}

/* ========== End Basic Style ========== */


/* ===================================
    Header
====================================== */

header {
    width: 100%;
    z-index: 99;
}

/* logo change */

header .logo .logo-dark, header .logo .logo-light {visibility: hidden; opacity: 0; width: 0; transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;}
header .logo .logo-dark.default, header .logo .logo-light.default {visibility: visible; opacity: 1; width: auto; transition-duration:0.5s;  -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;}
header.header-appear nav .logo .logo-light, header.header-appear nav.header-dark .logo .logo-light {visibility: visible;  opacity: 1; width: auto; transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;}
header.header-appear nav .logo .logo-dark, header.header-appear nav.header-dark .logo .logo-dark {visibility: hidden; opacity: 0; width: 0; transition-duration:0.5s; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;}
header.header-appear nav .logo .logo-dark, header.header-appear nav.header-light .logo .logo-dark {visibility: visible;  opacity: 1; width: auto; transition-duration:0.5s; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;}
header.header-appear nav .logo .logo-light, header.header-appear nav.header-light .logo .logo-light {visibility: hidden; opacity: 0; width: 0; transition-duration:0.5s; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;}
header a.logo {display: inline-block; vertical-align: middle;line-height: 0}
header a.logo img {max-width:130px; vertical-align: sub;}
header a.logo:hover{
    color: #ED1846;
    text-decoration: none;
}

/* Navbar */

.navbar-top-default {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
    height: 90px;
    width: 100%;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.header-appear .navbar-top-default,.header-fixed .navbar-top-default{
    height: 80px;
    position: fixed;
    z-index: 999;
    background:#fff;
    -webkit-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    top: 0;
}
/*.header-appear .trynow,.header-fixed .navbar-top-default .trynow{
 line-height: 45px;
}*/
#inner-page a{
    color: #F6B973;
}
#inner-page strong{
    font-weight: 500;
}
#inner-page ul{
    padding-left: 30px;
    list-style: disc;
}

/* animation */

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-o-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}
@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

.navbar-simple .navbar-nav .nav-link{
    margin:0 29px;
    font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
    color: #111111;
    display: inline-block;
    padding: 6px 0px;
}
.navbar-simple .navbar-nav .nav-link:hover{
    color: #F6B973;
}

.logo{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 54px;
	letter-spacing: 1px;
    color: #ED1846;
}
.logo:hover{
   color: #ED1846;
   text-decoration: none;  
}
.nav-box-round .navbar-nav .nav-link{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.header-appear .nav-box-round .navbar-nav .nav-link.active{
    color:#F6B973 !important;
}

.header-appear .nav-box-round .navbar-nav .nav-link:hover{
    color:#F6B973;
}
#contact li{
    margin-bottom: 10px;
}
#contact .social-media li{
    margin-bottom: 0px;
}
#contact .social-media{
    margin-top: 25px;
}
.trynow,.buy-now{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 60px;
	color: #111111;
	border: 2px solid #F6B973;
	box-sizing: border-box;
	border-radius: 20px;
	width:160px;
	text-align: center;
	display: inline-block;
    margin-top: 30px;
}
.trynow:hover,.buy-now:hoverß{
    text-decoration: none;
}
header .trynow{
    margin-top: 0px;
}
.footer{
    background: #F7F7F7;
}
section#home {
    padding-top: 155px;
}

.container{
    max-width: 1280px;
}
#home h1{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 56px;
	line-height: 69px;
	letter-spacing: -0.06em;
    color: #111111;
    margin-bottom: 25px;
}
.des{
	padding-top: 7%;
}

/* side menu button */

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    margin-right: 1rem;
    position: absolute;
    right: 15px;
    display: inline-block;
}

.sidemenu_btn_inner{
    height:70px;
    width:70px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    float: left;
}

.sidemenu_btn span {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    display: block;
}

.header-appear .sidemenu_btn span {
    background-color: #fff;
}

.sidemenu_btn span:nth-child(2) {
    margin: 4px 0;
}


/* ===================================
    Side Menu
====================================== */


.side-menu {
    width: 40%;
    position: fixed;
    right: 0;
    top: 0;
    background: #00bcd4;
    z-index: 1032;
    height: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease, -o-transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    overflow: hidden;
}

#menu .navbar-nav{
	display: block;
	text-align: right;
	margin-right: 3%;
    margin-top: 5px;
}
.side-menu.left {
    left: 0; right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.side-menu.before-side {
    width: 280px;
}
.side-menu.side-menu-active,
.side-menu.before-side{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pul-menu .side-menu.side-menu-active {
    visibility: visible; opacity: 1;
}
.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0;
}

/*Side overlay*/
#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 1031;
    opacity: 0.4;
}

/*side clode btn*/
.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;
}
.side-menu.before-side .btn-close{
    display: none;
}
.side-menu .btn-close::before, .side-menu .btn-close::after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #fff;
    top: 5px;
}
.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.side-menu .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.navbar-nav{
    margin-right: auto;
}
.pul-menu.pushwrap .side-menu .inner-wrapper{
    padding: 3.5rem 2.5rem;
}
.side-menu .side-nav {
    margin-bottom: 30px;
    display: block;
}
.side-nav .navbar-nav .nav-item{
    display: block;
    margin: 10px 0; padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;

    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}
.side-nav .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.side-nav .navbar-nav .nav-item:nth-child(2){
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.side-nav .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.side-nav .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.side-nav .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.side-nav .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.side-nav .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}
.side-nav .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}
.side-nav .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}
.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.side-nav .navbar-nav .nav-link {
    display: inline-table;
    color: #fff;
    padding: 2px 0 3px 0 !important;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.side-nav .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0; left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav .navbar-nav .nav-link:hover::after,
.side-nav .navbar-nav .nav-link:focus::after,
.side-nav .navbar-nav .nav-link.active::after {
    width: 100%;
}
.side-nav .navbar-nav .nav-link.active {
    background: transparent;
}
.side-menu p{
    font-size: 13px;
    margin-top: .5rem;
    margin-bottom: 0;
}

.social-icons-simple{
    margin-bottom: 0;
    margin-left: -10px;
}

.social-icons-simple li{
    display: inline-block;
}

.social-icons-simple li a {
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 38px;
    border: 1px solid transparent;
    text-align: center;
    width: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.social-icons-simple li a:hover{
    background-color:#FFFFFF;
}

.social-icons-simple li.animated-wrap a:hover{
    background-color: transparent;
    color: #ffffff;
}




/* ===================================
    Single Items
====================================== */


.single-items {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.single-items h3 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
}

.single-items h3 a:hover,.single-items h3 a:focus{
    color: inherit;
}

.single-items p{
    margin-bottom: 10px;
}

.center-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* ===================================
   Footer
====================================== */

.footer-social ul{
    margin: 0;
    padding: 0;
}

.footer-social li{
    display: inline-block;
}

.footer-social a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 10px 5px;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.footer-social li a:hover{
    background-color:#00bcd4;
    color: #ffffff;
}

.company-about{
    font-size: 13px;
}

.scroll-top-arrow {
    font-size: 25px;
    line-height: 45px;
    color: #2F2F2F !important;
    display: none;
    height: 45px;
    width: 45px;
    padding: 0;
    position: fixed;
    bottom: 30px;
    right: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 99;
    border-radius: 100%;
    border:1px solid #2F2F2F;
}
.scroll-top-arrow:hover{
    background-position: right center;
}
.footer-social a{
    color:#0095e2;
}

.social-icons-simple li a,.social-icons-simple li a:hover{
    color:#fff;
}

/* ===================================
    Page Loader
====================================== */

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1200;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);

}
.cssload-loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.area-heading {
    padding: 0 30px;
}
.area-heading p{
    padding-right: 28px;
}
.footer address,.footer ul li a{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #212121;
}
.footer address a{
     color: #212121;
     display: inline-block;
    margin-bottom: 10px;
}
.footer address {
    padding-left: 10%;
}
input{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    opacity: 0.6;
    background: none;
    font-family: 'Poppins', sans-serif;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    margin-top: 20px;
}
.btn-send{
    margin-top: 30px;
     font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #111111;
    background: none;
    height: 60px;
    width: 140px;
    border: 2px solid #ED1846;
    box-sizing: border-box;
    border-radius: 23px;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    padding: 0px;
}
.copyright{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #212121;
    border-top: 1px solid rgb(123, 123, 123, 0.4);
    margin-top: 50px;
    padding-top: 30px;
}
.social-media{
    display: flex;
}
.footer ul.social-media li a,.contact-links li a{
    background: rgba(181, 181, 181, 0.18);
    display: block;
    width: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 30px 0 0;
    color: #212121;
}
.footer ul.social-media li a:hover,.contact-links li a:hover{
    color: #F6B973;
    text-decoration: none;
}
.footer{
    padding-bottom: 30px;
}
.scroll-top-arrow:hover{
    text-decoration: none;
}
#insights{
    text-align: center;
}
.area-content{
    max-width: 560px;
    display: inline-block;
    margin-top: 20px;
}
.slideshow{
    margin-top: 60px;
    text-align: left;
}
.slide {
    display: inline-block;
    width: 100%;
}

.slide span{
   font-size: 28px;
    font-weight: 500;
    max-width: 110px;
    text-align: left;
    float: left;
    margin: 41px 0 0 0;
    color: #111111;
}
.slide img{
    float: right;
}
.slide-content{
transition: 0.3s;

}

.slide-content p{
 margin-top: 20px;
 margin-bottom: 40px;
 font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.04em;
color: #535353;
}

img{
    max-width: 100%;
}
#nutrition .area-heading{
    margin-bottom: 50px;
}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #111111;
}
.common-box{
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
}
.content-box{
    height: 350px;
    vertical-align: middle;
    display: table-cell;
}
.content-box h3{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #111111;
    margin-bottom: 20px;
}
.slide-content ul li{
   width: 48%;
   float: left;
   margin-bottom: 10px;
   font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #111111;
}
.trynow:hover{
    text-decoration: none;
}
.slide-content ul{
    overflow: hidden;
}
.slide-content ul li:nth-child(even){
    float: right;
    width: 48%;
}
.slide-content ul li.full-width{
    width: 100%;
}
.slide-content ul.single-list li{
    width: 100%;
}
.slide-content ul.single-list li:nth-child(even){
   padding: 0px; 
}
.slideshow .slick-list{
 padding: 0px !important;
 padding-bottom: 70px !important;
}
.slide-item{
    padding: 30px;
}

 .slide-item{
 background: #FFECDD;
 border-radius: 35px;
 position: relative;
 min-height: 515px;
}
#insights .slick-slide{
 margin: 0 15px;
 opacity: 0.2;
 transition: 0.4s;
}
#nutrition h2{
    margin-bottom: 70px;
}
.response-exercise{
    font-weight: 500;
}
.tab.tab-hover {
    position: relative;
    padding-top: 296px;
    margin: 0;
}
.tab.tab-hover .tab__header{
    display: block;
}
.hover-content:hover .plan-img,.hover-content.active .plan-img{
    display: block;
}
.plan-img {
    max-width: 310px;
    margin: 20px auto 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.tab-hover .tab__content > div{
 display: block;
}
#insights .slick-slide.slick-center{
    opacity: 1;
}
.banner{
    overflow: hidden;
    margin: 0 -15px;
}
.about-us p{
    font-weight: 300;
}
.teams h2{
    margin-bottom: 70px;
}
.teams h4{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}
#our-team .col-md-6{
    padding: 0 8%;
}

#our-team{
    background: url(images/about-pattern1.png) right top no-repeat,url(images/about-pattern2.png) left bottom no-repeat;
    padding-bottom: 160px;
    background-size: 240px;
}
#inner-page .h2.area-heading {
    padding: 0px;
    margin: 34px 0 1px 0;
}
#inner-page h3{
   margin: 34px 0 20px 0;  
}
#inner-page .area-heading{
 padding:0px;
}
.table{
    width: 100%;
    margin-top: 30px;
}
.table span{
    font-weight: 500;
    color: #111;
}
.table thead th{
    color: #111;
}
.table th,.table td{
    vertical-align: middle;
}
.table td:first-child{
    text-align: center;
}
.teams p,#inner-page p,#inner-page ul li,#inner-page ol li{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #4D4D4D;

}
#social .slick-slider.blog-slider .slick-track, #social .slick-slider.blog-slider .slick-list{
  height: 400px;
}
#inner-page ul ul{
    margin-top: 10px;
}
#inner-page ul li,#inner-page ol li {
    margin-bottom: 10px;
}
#inner-page {
    margin-top: 130px;
    padding-top: 15px;
}
#inner-page h1{
    margin-bottom: 40px;
}
.blog-img img {
    border-radius: 16px 16px 0 0;
}
.about-img{
    margin-bottom: 30px;
}
.about-img img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#clients .main-container .slick-slide{
    height: 450px ;
}
.slide-item.slide1{
    background: #fcebeb;
}
.slide-item.slide2{
    background: #FFECDD;
}
.slide-item.slide3{
    background: #fdeece;
}
.slide-item.slide4{
    background: #f4fbc1;
}
.slide-item.slide5{
    background: #dcfdf2;
}
.slide-item.slide6{
    background: #e2e3fd;
}
.slide-item.slide7{
    background: #fae0ee;
}
 .slide-item:before{
   content: "";
    position: absolute;
    left: 0;
    top: 0px;
    background: url(images/mask.png) center center no-repeat;
    width: 408px;
    height: 523px;
    z-index: 99999;
    background-size: 86%;
}
#plan-today,#convinced{
    padding: 20px 0;
    background:#65b6a6 url(images/pattern.png) center center repeat-x;
}
#plan-today .trynow{
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    background: #FFFFFF;
    border-radius: 24px;
    border:none;
    line-height: 72px;
    width: 180px;
}
#plan-today p,#convinced p{
   font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin: 11px 0 0 0;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
#our-specialised{
    background: #F2F7FC;
    padding-bottom: 60px;
}
#our-specialised ul{
    justify-content: center;
}
#our-specialised li{
    display: inline-block;
    margin-bottom: 18px;
    padding-top: 146px;
}
#our-specialised li i{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 50%;
    justify-content: center;
    padding-top: 7%;
    display: table-cell;
    position: absolute;
    vertical-align: middle;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
}
#our-specialised li span{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #4D4D4D;
    padding: 0 8%;
    margin-top: 15px;
    display: block;
}
.client-logo{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.client-logo li{
   padding: 0 48px;
}
.client-logo li .client-img{
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    filter: grayscale(100%);
}
.client-logo li .client-img:hover{
    filter: none;
}
.services-slider {
  display: flex;
  max-width: 600px;
}

.slider-main {
  width: 100%;
}

.main-container {
  width: 100%;
}

.nav-container img {
  max-height: 135px;
}

.nav-container .slick-slide {
  max-height: 135px;
  margin-top: 18px;
}
.slick-vertical .slick-slide{
    width: 500px !important;
}
.slick-prev:before, .slick-next:before{
    color: #000;
    display: none;
}
.slick-prev ,.slick-prev:hover, .slick-prev:focus{
    right: 0;
    top: -20px;
    left: 70px;
    margin: auto;
    background: url(images/arrow.png) center center no-repeat;
    transform: rotate(180deg);
    z-index: 99;
}
.slick-next , .slick-next:hover, .slick-next:focus{
    right: 0;
    top: auto;
    bottom: -47px;
    left: 70px;
    margin: auto;
   background: url(images/arrow.png) center center no-repeat;
   z-index: 99;
}
.services-slider .slick-track {
  margin-left: 70px;
}
.slide-des span{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #111111;
}
.slide-des small{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #4D4D4D;
}
.nav-container .slick-slide{
    width: auto !important;
}
.slide-tab{
    display: flex !important;
    width: 350px !important;
    background: #F9F9F9;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    justify-content: center;
    cursor: pointer;
}
.slide-des {
    margin: 0 0 0 25px;
    padding-top: 10px;
    width: 200px;
}
#clients{
    background: url(images/bg-pattern1.png) right bottom no-repeat;
    padding-bottom: 160px;
    background-size: 260px;
}
.main-des{
    padding-top: 18px;
}
.main-des h4{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.05em;
    color: #4D4D4D;
    margin-bottom: 20px;
}
.main-des p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #4D4D4D;
}
.services-slider{
    margin-top: 30px;
}
.ratings{
    margin-bottom: 20px;
}
.nav-container .slick-current .slide-tab{
    background: #fff;
    box-shadow:0 -1px 4px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}
.tabs{
    overflow:hidden;
    margin-top: 90px;
}
.buynow-box .tab-box{
    display: none;
}
.tabs-content > div{
    min-height: 200px;
}
.tab__header {
  display: block;
  clear: both;
}


.tab__header > div.tab__header--active {
  background: #0288D1;
}

.tab__content {
  display: block;
  height: inherit;
  overflow: auto;
}
.tab {
    margin: 0 0 0 13%;
}
.first-info{
    padding-right: 13%;
}

.tab ul{
    margin-top: 20px;
}
.tab ul li{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #111111;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 20% 20px 0;
}
.tab ul li a{
    color: #65B6A6;
    font-weight: 500;
}
.plan-img {
    max-width: 310px;
    margin: 20px auto 40px;
}
strong{
    font-weight: bold;
}
.tab ul li strong{
    font-weight: 500;
}
.tab ul li:last-child{
    border: none;
}
.plans-content .tab__header > div{
 border:none;
 border-bottom: 1px solid transparent;
 padding: 0px;
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 30px;
 letter-spacing: -0.05em;
 color: #111111;
 opacity: 0.3;
 margin: 0 16% 0 0;
 border-radius: 0px;
 cursor: pointer;
}
.plans-content .tab__header{
    display: flex;
}
.plans-content .tab__header > div.tab__header--active{
  border:none;  
  border-bottom: 1px solid;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #111111;
  opacity: 1;
  border-radius: 0px;

}
.tab__content > div {
  display: inline-block;
  vertical-align: top;
  display: none;
}

.tab__content > div.tab__content--active {
  display: block;
}
.tab.tab-hover .hover-content{
 font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #000000;
    opacity: 0.5;
    padding: 0 0 30px;
}
/*.plans-content .tab__content-3 .tab__header > div{
     font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #000000;
    opacity: 0.5;
    padding: 0 0 30px;
}*/
/*.plans-content .tab__content-3 .tab__header > div.tab__header--active{
     border-bottom: none;
     color: #000000;
     opacity: 1;
}*/
.plans-content .tab__content-3 .tab__header > div.active,.plans-content .tab__content-3 .tab__header > div:hover{
   color: #000000;
     opacity: 1; 
}
.tab__header > div{
    background: #FFFFFF;
    border: 3px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 30px;
    display: block;
    padding:31px 45px; 
    margin-bottom: 20px;
    opacity: 0.6;
    cursor: pointer;
}
.tab__header > div.tab__header--active{
   background: #FFFFFF;
    border: 3px solid #65B6A6;
    box-sizing: border-box;
    border-radius: 30px;
    opacity: 1
}
#vertical_tab_nav li:hover{
    text-decoration: none;
    color: inherit;
     background: #FFFFFF;
    border: 3px solid #65B6A6;
}

.first-tab strong{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.06em;
    margin-bottom: 30px;
    color: #111111;
}
.first-tab span{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #A6A6A6;
}
.first-tab p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #161616;
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.first-tab span.underline{
  text-decoration-line: line-through;

}

.first-tab span.underline + span{
    color: #161616;
}
.buy-now{
    margin-top: 0px;
}

.check-box {
  display: block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-box input {
 width: auto;
 margin-right: 10px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.buynow-box .emember{
    margin-left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;   
    color: #65B6A6;
}

.first-tab .check-box span.underline {
    margin-right: 10px;
}

.buynow-box{
    display: none;
    margin: 50px 0 15px 0;
}
/*.tab__header > div.tab__header--active .buynow-box{
 display: block;
} */

/*.plans-content .tab__content-3 .tab__header{
 display: block;
}*/
/*.plans-content .tab__content-3 .tab{
    margin: 30px 0 0 0;
}*/

#plans {
    background: url(images/bg-pattern2.png) left bottom no-repeat;
    padding-bottom: 220px;
    background-size: 260px;
}
#social .slick-initialized .slick-slide {
    display: block;
    margin: 0 10px;
    width: auto !important; 
}
#social .social-media{
    text-align: center;
    display: block;
    margin-top: 30px;
}
#social .social-media li{
    display: inline-block;
    margin: 0 28px 0 0;
}
#social .social-media li a{
    background: rgba(181, 181, 181, 0.18);
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    font-size: 22px;
    color: #212121;
}
#social .social-media li a:hover{
   color: #F6B973;
    text-decoration: none; 
}

.contact-links li{
    display: inline-block;
}
.contact-links li a{
    background: #fff;
}
.contact-links {
    margin: 7px 0 0 0;
}
.contact-links li a{
   color: #60C7A6;
  font-size: 26px;
}
#convinced p{
    margin-top: 5px;
}
#social .slide img{
 height: 305px;
}
#blog ul{
 text-align: center;
 margin-top: 60px;
}
#blog ul li{
    display: inline-block;
    padding: 0 30px;
}
.blog-box{
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 20px;
    display: block;
}
.blog-box:hover{
    text-decoration: none;
}
.blog-box h4{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 10px;
}
.blog-box p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #4D4D4D;
}
.blog-content{
    padding: 15px;
    min-height: 195px;
    text-align: left;
}
.view-more {
    text-align: center;
    margin-top: 70px;
}
.view-more a{
    border: 2px solid #F6B973;
    box-sizing: border-box;
    border-radius: 24px;
    width: 169px;
    line-height: 68px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #050505;
    display: inline-block;
}
.view-more a:hover{
    text-decoration: none;
    color: #F6B973;
}
.slide-img img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.linkedin {
    margin-top: 50px;
    text-align: center;
}
.linkedin img{
    width: 42px;
    height: 42px;
}
#our-experts .col-md-4{
    padding: 0 4%;
}
#our-experts p strong{
    font-weight: 500;
}
.buynow-box{
    display: none;
}
@media (min-width: 1000) {
  .slider-nav {
    display: none !important;
  }
}
/* ===================================
    Media Queries
====================================== */
@media screen and (max-width: 1320px){
.navbar-top-default{
    padding: 0px;
}
}

@media screen and (max-width: 1024px){
.slick-vertical .slick-slide {
    width: 362px !important;
 }
 #insights .slide img {
    max-width: 60px;
}
 #clients .col-md-10 {
  -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
 }
 #clients .main-container .slick-slide {
    height: 499px;
}
.first-info {
    padding-right: 0;
}
.tab {
    margin: 0 0 0 4%;
}
#plan-today p, #convinced p{
    font-size: 28px;
}
#blog ul li{
    padding: 0 15px;
}
#home h1{
    font-size: 51px;
}
.about-us .des{
    padding-top: 4%;
}
.teams h4{
    font-size: 22px;
}
}
@media screen and (max-width: 1023px){
.collapse:not(.show) {
    display: none;
}
#menu .navbar-nav{
   display: block;
    margin-right: 0px;
    text-align: center;
    max-width: 100px;
    margin: 0 auto 16px;
}
.navbar-top-default{
    height: auto;
    overflow: visible;
}
#menu{
   text-align: center;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-right: 15px;
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
}
.services-slider{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-vertical .slick-slide,.slide-tab {
    width: 100% !important;
}
.services-slider .slick-track{
    margin-left: 0px;
}
.navbar-simple .navbar-nav .nav-link{
    display: block;
    margin: 10px 0 10px 0;
    padding: 0;
}
.slick-next, .slick-next:hover, .slick-next:focus,.slick-prev, .slick-prev:hover, .slick-prev:focus{
    left: 0px;
}
.main-des{
    margin-top: 56px;
}
.navbar-toggler{
    padding: 0 15px;
}
.banner .float-left,.banner .float-right{
    float: none !important;
    flex: 0 0 100%;
    max-width: 100%;
}
button.navbar-toggler.toggler-example:focus{
    outline: none;
}
header a.logo{
    margin-left: 15px;
}
#insights{
    padding-top: 10px;
}
.footer ul.social-media li a, .contact-links li a{
    margin-right: 10px;
}
#plan-today{
    text-align: center;
}
#plan-today .text-right {
    text-align: center!important;
    margin-top: 20px;
}
.content-box{
    height: 190px;
}

#clients ,#plans{
    padding-bottom: 0px;
    background-size: 160px;
    background: none;
}
.check-box{
    display: none;
}
.first-tab strong{
    margin-bottom: 0px;
}
.tab__header > div.tab__header--active .buynow-box {
    display: none;
}
.first-tab p{
    margin-bottom: 0px !important; 
}
.tab__header > div.tab__header--active .check-box{
    display: block;
}
.tab__header > div.tab__header--active .first-tab p{
    margin-bottom: 30px !important; 
}
.tab__header > div.tab__header--active .first-tab strong{
    margin-bottom: 30px;
}
.tab__content{
    margin-top: 20px;
}
.plans-content .tab__header {
    display: block;
    text-align: center;
}
.plans-content .tab__header > div{
    margin: 0 20px;
    display: inline-block;
}
#blog ul li{
    margin-bottom: 15px;
}
.blog-content{
    min-height: 0px;
}
}

@media screen and (max-width: 767px){
.client-logo li {
    padding: 0 7px;
 }
 .area-heading {
    padding: 0;
}
.slideshow .slick-list{
    padding-bottom: 0 !important;
}
#insights{
    padding-bottom: 20px;
}
.slide-item:before{
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.content-box {
    height: auto;
    margin-top: 20px;
    display: block;
    text-align: center !important;
}
#our-specialised li{
    width: 50%;
    padding-top: 30px;
}
#our-specialised li span{
    font-size: 12px;
    line-height: 18px;
}
#our-specialised li i{
    width: 58px;
    height: 58px;
    position: static;
    display: block;
}
.box-img img{
    width: 100%;
}
#plan-today p, #convinced p {
    font-size: 16px;
    line-height: 24px;
}
.slide span{
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}
.slide-content{
    font-size: 12px;
    line-height: 18px;
}
.slide-content ul li,.first-tab p{
    font-size: 10px;
    line-height: 15px;
}
#insights .slide{
    padding-right: 5%;
}
#insights .slide img {
    max-width: 66px;
}
.slide-item{
    min-height: 380px;
}
section#home {
    padding-top: 101px;
}
.banner img {
    max-width: 70%;
}
section, .section-padding {
    position: relative;
    padding: 3.5rem 0;
}
.first-tab strong{
    font-size: 20px;
    line-height: 30px;
}
.first-tab span{
    font-size: 16px;
    line-height: 24px;
}
#convinced,.contact-links{
    text-align: center;
}
.contact-links{
    margin-top: 15px;
}
.tab__header > div{
    padding: 20px 25px;
}
.plans-content .tab__header > div,.plans-content .tab__header > div.tab__header--active,
.plans-content .tab__content-3 .tab__header > div{
    font-size: 14px;
   line-height: 21px;
}
.tab ul li,input,.btn-send{
    font-size: 14px;
   line-height: 21px;
}
.check-box{
    margin-bottom: 5px;
}
.tabs{
    margin-top: 20px;
}
#home h1,#inner-page h1{
    font-size: 26px;
    line-height: 34px;
}
.trynow, .buy-now,.view-more a,.btn-send{
    width: 128px;
    line-height: 52px;
    font-size: 12px;
    border-radius: 20px;
}
#inner-page{
    margin-top: 100px;
}
.table-responsive table{
    width: 1000px;
}
.btn-send{
    height: 56px;
    padding: 0px;
}
.footer address {
    padding-left: 0;
    margin-top: 20px;
}
#our-specialised li i img {
    max-width: 61%;
}
.copyright{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
}
#contact .col-md-2 ul{
    position: absolute;
    right: 10%;
    top: -118px;
}
.logo{
    font-size: 24px;
    line-height: 36px;
}
.footer address, .footer ul li a{
    font-size: 12px;
    line-height: 18px;
}
h2{
    font-size: 26px;
   line-height: 32px;
}
p{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.04em;
}
#menu .navbar-nav,#menu{
    text-align: center;
}
.slide-item {
    padding: 15px 20px;
}
.main-des{
    margin-top: 0px;
    padding-top: 0px;
}
.nav-container {
    margin-bottom: 50px;
}
}
